In [17]:
import pandas as pd
import numpy as np

In [18]:
ta = pd.read_csv(r"C:\Users\HARSH\Desktop\python dataset\Trip_advisor_review.csv")

In [19]:
ta.shape

(20491, 2)

In [20]:
ta.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [21]:
ta.isnull().sum()[ta.isnull().sum()>0]

Series([], dtype: int64)

In [22]:
ta = ta.rename(columns = ({"Rating" : "Y" , "Review" : "X"}))

In [23]:
ta.head()

                                                   X  Y
0  nice hotel expensive parking got good deal sta...  4
1  ok nothing special charge diamond member hilto...  2
2  nice rooms not 4* experience hotel monaco seat...  3
3  unique, great stay, wonderful time hotel monac...  5
4  great stay great stay, went seahawk game aweso...  5

In [24]:
ta.Y.value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Y, dtype: int64

In [25]:
ta.X = ta.X.str.lower() # Mandtory
ta

                                                       X  Y
0      nice hotel expensive parking got good deal sta...  4
1      ok nothing special charge diamond member hilto...  2
2      nice rooms not 4* experience hotel monaco seat...  3
3      unique, great stay, wonderful time hotel monac...  5
4      great stay great stay, went seahawk game aweso...  5
...                                                  ... ..
20486  best kept secret 3rd time staying charm, not 5...  5
20487  great location price view hotel great quick pl...  4
20488  ok just looks nice modern outside, desk staff ...  2
20489  hotel theft ruined vacation hotel opened sept ...  1
20490  people talking, ca n't believe excellent ratin...  2

[20491 rows x 2 columns]

In [26]:
import nltk # nltk - natural language toolkit

In [27]:
from nltk.corpus import stopwords

In [28]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [72]:
ta.Y.value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Y, dtype: int64

In [73]:
# ta.Y.replace({2:1,3:2,4:3,5:3},inplace=True)
# ta.Y.value_counts()

3    15093
1     3214
2     2184
Name: Y, dtype: int64

In [117]:
ta.Y.replace({2:1,3:2,4:2,5:2},inplace=True)
ta.Y.value_counts()

2    15093
1     5398
Name: Y, dtype: int64

In [118]:
l1 = stopwords.words("english")

In [119]:
def text_process(mess):            ### creating a function

    """                                                        ## a docstring

    1. remove the punctuation

    2. remove the stopwords

    3. return the list of clean textwords

    

    """

    nopunc = [char for char in mess if char not in string.punctuation]

    nopunc = "".join(nopunc)

    

    return [ word for word in nopunc.split() if word not in l1]

In [120]:
# ta["X"].apply(text_process)

In [121]:
from sklearn.feature_extraction.text import CountVectorizer

In [122]:
bow_transformer = CountVectorizer(analyzer = text_process).fit(ta["X"])

In [123]:
bow_transformer.vocabulary_

{'nice': 49206,
 'hotel': 36909,
 'expensive': 28378,
 'parking': 53208,
 'got': 33582,
 'good': 33347,
 'deal': 21915,
 'stay': 68556,
 'anniversary': 6999,
 'arrived': 8200,
 'late': 42141,
 'evening': 27588,
 'took': 73466,
 'advice': 5264,
 'previous': 56545,
 'reviews': 61027,
 'valet': 76980,
 'check': 16606,
 'quick': 57945,
 'easy': 25627,
 'little': 43220,
 'disappointed': 23592,
 'nonexistent': 49873,
 'view': 77537,
 'room': 61740,
 'clean': 17592,
 'size': 65815,
 'bed': 11090,
 'comfortable': 18553,
 'woke': 80136,
 'stiff': 68860,
 'neck': 48790,
 'high': 36036,
 'pillows': 54643,
 'soundproof': 67119,
 'like': 42920,
 'heard': 35439,
 'music': 48313,
 'night': 49383,
 'morning': 47723,
 'loud': 43892,
 'bangs': 9939,
 'doors': 24555,
 'opening': 51490,
 'closing': 17921,
 'hear': 35436,
 'people': 53896,
 'talking': 70917,
 'hallway': 34815,
 'maybe': 45647,
 'noisy': 49763,
 'neighbors': 48969,
 'aveda': 9092,
 'bath': 10462,
 'products': 57041,
 'goldfish': 33298,
 'touch': 73692,
 'taken': 70875,
 'advantage': 5208,
 'staying': 68615,
 'longer': 43710,
 'location': 43468,
 'great': 33863,
 'walking': 78149,
 'distance': 24024,
 'shopping': 64918,
 'overall': 52302,
 'experience': 28438,
 'pay': 53616,
 '40': 2678,
 'ok': 50978,
 'nothing': 50158,
 'special': 67421,
 'charge': 16407,
 'diamond': 23091,
 'member': 46010,
 'hilton': 36190,
 'decided': 22063,
 'chain': 16163,
 'shot': 65035,
 '20th': 1592,
 'seattle': 63659,
 'start': 68396,
 'booked': 12751,
 'suite': 69793,
 'paid': 52769,
 'extra': 28676,
 'website': 78862,
 'description': 22719,
 'bedroom': 11166,
 'bathroom': 10497,
 'standard': 68222,
 'printed': 56761,
 'reservation': 60210,
 'desk': 22793,
 'showed': 65077,
 'said': 62608,
 'things': 72300,
 'tv': 75134,
 'couch': 20311,
 'ect': 25778,
 'clerk': 17777,
 'told': 73351,
 'oh': 50948,
 'mixed': 47141,
 'suites': 69812,
 'kimpton': 41374,
 'sorry': 67062,
 'free': 31415,
 'breakfast': 13311,
 'kidding': 41293,
 'embassy': 26322,
 'suits': 69828,
 'sitting': 65768,
 'unlike': 76059,
 'calls': 14789,
 '5': 3023,
 'day': 21679,
 'offer': 50795,
 'correct': 20187,
 'false': 29030,
 'advertising': 5254,
 'send': 64020,
 'preferred': 56270,
 'guest': 34349,
 'email': 26278,
 'asking': 8405,
 'failure': 28956,
 'provide': 57364,
 'advertised': 5248,
 'furnished': 32191,
 'hard': 35108,
 'copy': 20092,
 'printout': 56769,
 'manager': 44900,
 'duty': 25411,
 'reply': 60010,
 'solution': 66828,
 'trip': 74597,
 'survey': 70383,
 'follow': 30716,
 'mail': 44647,
 'guess': 34341,
 'tell': 71416,
 'concerned': 19168,
 'guestthe': 34401,
 'staff': 68004,
 'ranged': 58384,
 'indifferent': 38678,
 'helpful': 35651,
 'asked': 8394,
 'spots': 67761,
 'neighborhood': 48957,
 'hood': 36703,
 'hotels': 37118,
 'gee': 32658,
 'best': 11729,
 '12': 499,
 'block': 12383,
 'away': 9212,
 'convenient': 19858,
 'know': 41556,
 'exist': 28228,
 '11': 361,
 'pm': 55338,
 'inside': 39103,
 'run': 62371,
 'bellman': 11501,
 'busy': 14371,
 'chating': 16523,
 'cell': 15915,
 'phone': 54407,
 'help': 35626,
 'bagsprior': 9672,
 'arrival': 8177,
 'emailed': 26280,
 'inform': 38846,
 'half': 34751,
 'really': 58693,
 'picky': 54529,
 'wanted': 78308,
 'make': 44749,
 'sure': 70253,
 'saying': 63144,
 'deliver': 22456,
 'bottle': 13001,
 'champagne': 16248,
 'chocolate': 16989,
 'covered': 20551,
 'strawberries': 69174,
 'celebrate': 15896,
 'needed': 48809,
 'foam': 30647,
 'alley': 6148,
 'rise': 61349,
 'building': 14015,
 'better': 11800,
 'housekeeping': 37381,
 'cleaner': 17628,
 'property': 57243,
 'impressed': 38275,
 'left': 42472,
 'short': 64991,
 'trips': 74682,
 '2': 1375,
 'hours': 37323,
 'beds': 11179,
 'comfortablenot': 18608,
 'acheat': 4766,
 'control': 19815,
 '4': 2677,
 'x': 80723,
 'inch': 38421,
 'screen': 63447,
 'bring': 13602,
 'green': 34000,
 'shine': 64783,
 'directly': 23510,
 'eyes': 28773,
 'light': 42862,
 'sensitive': 64055,
 'tape': 70999,
 'controlsthis': 19828,
 'business': 14270,
 'super': 70056,
 'rates': 58480,
 'rooms': 61906,
 'monaco': 47402,
 'nt': 50337,
 'levelpositives': 42710,
 'large': 42064,
 'mediterranean': 45895,
 'pillowsattentive': 54644,
 'staffnegatives': 68082,
 'ac': 4482,
 'unit': 76017,
 'malfunctioned': 44809,
 'disorganized': 23904,
 'missed': 47063,
 '3': 2239,
 'separate': 64083,
 'wakeup': 78090,
 'concierge': 19206,
 'guidance': 34409,
 'requeststv': 60129,
 'use': 76660,
 'ipod': 39616,
 'sound': 67111,
 'dock': 24211,
 'non': 49797,
 'functioning': 32096,
 'book': 12745,
 'weekend': 78948,
 '1st': 1356,
 'choice': 17007,
 'rest': 60521,
 'party': 53366,
 'filled': 29804,
 'comparison': 18864,
 'w': 77941,
 'spent': 67570,
 '45': 2861,
 'larger': 42073,
 'square': 67881,
 'footage': 30914,
 'soaking': 66641,
 'tub': 74927,
 'whirlpool': 79629,
 'jets': 40539,
 'showerbefore': 65088,
 'arrange': 8149,
 'car': 15165,
 'service': 64206,
 'price': 56563,
 '53': 3150,
 'tip': 73037,
 'reasonable': 58737,
 'driver': 25119,
 'waiting': 78055,
 'arrivalcheckin': 8183,
 'downside': 24806,
 'picked': 54503,
 'person': 54173,
 'jacuzi': 40251,
 'accessories': 4565,
 'salts': 62727,
 'bubble': 13819,
 '121a': 556,
 'checked': 16608,
 'voucher': 77904,
 'gesture': 32849,
 'fish': 30067,
 'impression': 38295,
 'huge': 37518,
 'open': 51468,
 'space': 67209,
 'felt': 29605,
 'big': 11976,
 'far': 29223,
 'chore': 17094,
 'change': 16304,
 'channel': 16337,
 'broken': 13676,
 'disappointingin': 23636,
 'way': 78735,
 'thermostat': 72204,
 '65f': 3482,
 '74': 3701,
 'degrees': 22330,
 'warm': 78369,
 'try': 74875,
 'cover': 20549,
 'face': 28828,
 'bright': 13572,
 'blue': 12464,
 'kept': 41198,
 'drop': 25151,
 'called': 14769,
 'maintainence': 44690,
 'came': 14829,
 'look': 43754,
 'play': 55043,
 'settings': 64409,
 'happy': 35046,
 'digital': 23329,
 'box': 13107,
 'wo': 80127,
 'work': 80293,
 '10am': 291,
 'happen': 35010,
 'later': 42159,
 '6pm': 3561,
 'nap': 48536,
 'forgot': 31063,
 'yep': 80910,
 'forgottenthe': 31069,
 'facilities': 28867,
 'surprised': 70325,
 'sold': 66797,
 'amenities': 6597,
 'relax': 59601,
 'water': 78589,
 'going': 33276,
 'unique': 76006,
 'wonderful': 80166,
 'time': 72840,
 'excellent': 27955,
 'stroll': 69363,
 'main': 44661,
 'downtown': 24828,
 'area': 7794,
 'pet': 54293,
 'friendly': 31658,
 'signs': 65487,
 'animal': 6957,
 'hair': 34696,
 'smells': 66326,
 'sleeping': 66043,
 'striped': 69339,
 'curtains': 21244,
 'pulled': 57522,
 'closed': 17883,
 'cosy': 20292,
 'named': 48496,
 'brandi': 13199,
 'enjoyed': 26685,
 'partake': 53285,
 'wine': 79912,
 'coffeetea': 18269,
 'lobby': 43343,
 'thought': 72519,
 'feature': 29472,
 'wireless': 79989,
 'internet': 39361,
 'worked': 80309,
 'laptops': 42049,
 'decor': 22112,
 'lovely': 44004,
 'eclectic': 25742,
 'mix': 47140,
 'pattens': 53576,
 'color': 18454,
 'palatte': 52865,
 'print': 56760,
 'bathrobes': 10492,
 'feel': 29543,
 'rock': 61555,
 'stars': 68366,
 'sterile': 68809,
 'personality': 54185,
 'went': 79332,
 'seahawk': 63561,
 'game': 32384,
 'awesome': 9292,
 'downfall': 24768,
 'complain': 18945,
 'package': 52690,
 'taxi': 71173,
 'problem': 56883,
 'want': 78303,
 'accept': 4525,
 'barely': 10121,
 'spoke': 67682,
 'english': 26592,
 'funny': 32150,
 'thing': 72279,
 'speak': 67395,
 'arabic': 7735,
 'started': 68399,
 'making': 44779,
 'comments': 18731,
 'girlfriend': 33027,
 'buddy': 13868,
 'second': 63714,
 'realize': 58685,
 'fact': 28915,
 'language': 41996,
 'priceless': 56611,
 'ass': 8444,
 'city': 17332,
 'head': 35373,
 'doorman': 24539,
 'issue': 39796,
 'cab': 14549,
 'company': 18842,
 'promply': 57191,
 'answer': 7086,
 'apologized': 7439,
 'offered': 50799,
 'bucks': 13851,
 'miles': 46604,
 'stadium': 67993,
 'plan': 54924,
 'return': 60898,
 'humpin': 37607,
 'walk': 78113,
 'mind': 46682,
 'right': 61252,
 'christmas': 17135,
 'lights': 42897,
 'homeless': 36572,
 'stowed': 69107,
 'entrances': 26923,
 'leave': 42418,
 'police': 55483,
 'presence': 56398,
 'greatest': 33898,
 'activities': 4873,
 '7': 3586,
 'blocks': 12400,
 'pike': 54619,
 'street': 69207,
 'waterfront': 78624,
 'coffee': 18221,
 'shops': 64953,
 'mantained': 45063,
 'foyer': 31251,
 'tasting': 71107,
 'available': 9029,
 'dog': 24264,
 'taking': 70894,
 'st': 67974,
 'bernard': 11696,
 'family': 29083,
 'safes': 62563,
 'located': 43449,
 'jetted': 40545,
 'house': 37358,
 'keeping': 41152,
 'walked': 78136,
 'getting': 32890,
 'dressed': 24973,
 'knock': 41547,
 'turn': 75066,
 'screamed': 63438,
 'screams': 63442,
 'hit': 36300,
 'floor': 30430,
 'laughing': 42219,
 'spanish': 67305,
 'place': 54811,
 'recommend': 59028,
 'online': 51352,
 'deals': 21944,
 'besite': 11723,
 'contains': 19699,
 'vouchers': 77906,
 'travel': 74322,
 'websites': 78877,
 'love': 43987,
 'husband': 37668,
 'stayed': 68584,
 'crazy': 20700,
 'attending': 8723,
 'memorial': 46046,
 'friend': 31641,
 'celebrating': 15899,
 '12th': 666,
 'wedding': 78890,
 'talk': 70909,
 'emotions': 26388,
 'monte': 47564,
 'carlos': 15334,
 'loaned': 43329,
 'beautiful': 10998,
 'fantanned': 29163,
 'joliet': 40712,
 'visited': 77718,
 'dogs': 24279,
 'human': 37550,
 'companions': 18838,
 'decorated': 22116,
 'nicely': 49260,
 'used': 76667,
 'loccitane': 43568,
 'welcome': 79065,
 'sight': 65405,
 'quiet': 57989,
 'peaceful': 53683,
 'access': 4544,
 'server': 64196,
 'leaving': 42438,
 'problems': 56934,
 'printing': 56766,
 'boarding': 12524,
 'passes': 53426,
 'afternoon': 5441,
 'reception': 58898,
 'serves': 64203,
 'oenophilesatisfying': 50760,
 'australia': 8953,
 'scrumptious': 63487,
 'cookies': 19989,
 'restaurant': 60550,
 'renovation': 59871,
 'finally': 29855,
 'ate': 8561,
 'food': 30753,
 'drinks': 25052,
 'word': 80276,
 'caution': 15774,
 'sit': 65710,
 'booths': 12849,
 'fit': 30096,
 '56': 3198,
 '125': 601,
 'lbs': 42332,
 '59': 3226,
 '175': 1081,
 'table': 70734,
 'smackagainst': 66237,
 'stomach': 68967,
 'couple': 20428,
 'inches': 38424,
 'mighty': 46552,
 'uncomfortable': 75621,
 'patron': 53564,
 'pregnant': 56283,
 'bad': 9572,
 'design': 22739,
 'opinion': 51556,
 'funky': 32131,
 'welcoming': 79091,
 'metal': 46224,
 'wood': 80241,
 'handblown': 34893,
 'glass': 33103,
 'fixtures': 30165,
 'expect': 28268,
 'capital': 15109,
 'art': 8261,
 'industry': 38738,
 'definitely': 22275,
 'reason': 58734,
 'cozy': 20587,
 'rainy': 58281,
 'nights': 49507,
 'early': 25529,
 'january': 40348,
 '2008': 1465,
 'chance': 16282,
 'come': 18513,
 'ridewe': 61212,
 'carlo': 15333,
 'proved': 57355,
 'longish': 43734,
 '905': 4068,
 'noise': 49716,
 'interesting': 39305,
 'dank': 21522,
 'midsection': 46517,
 'office': 50848,
 'plenty': 55224,
 'spread': 67810,
 'attractive': 8832,
 'squeaky': 67924,
 'small': 66243,
 'generous': 32737,
 'proportions': 57276,
 'areas': 7863,
 'lots': 43874,
 'seating': 63642,
 'options': 51657,
 'lighting': 42886,
 'storage': 69040,
 'clothing': 17946,
 'luggage': 44167,
 'efficient': 25890,
 'job': 40622,
 'pleasant': 55116,
 'requests': 60119,
 'responded': 60485,
 'quicklythe': 57971,
 'quite': 58076,
 'market': 45285,
 'museum': 48285,
 'notch': 50116,
 'dining': 23401,
 'optionsa': 51660,
 'positive': 55886,
 'quality': 57760,
 'chocked': 16981,
 'home': 36536,
 'experienced': 28451,
 'exceptional': 28043,
 'door': 24507,
 'men': 46059,
 'maid': 44631,
 'needs': 48852,
 'failed': 28949,
 'tuck': 74962,
 'sheets': 64687,
 'foot': 30913,
 'instance': 39155,
 'soiled': 66776,
 'quickley': 57955,
 'resolved': 60306,
 'relates': 59586,
 'employee': 26409,
 'reflection': 59288,
 'staffwe': 68123,
 'received': 58865,
 'regarding': 59403,
 'resturants': 60793,
 'hour': 37307,
 'homegreat': 36566,
 'close': 17878,
 '5th': 3304,
 'theather': 71856,
 'wellpikes': 79234,
 'pioneer': 54722,
 'mono': 47518,
 'rail': 58221,
 'cruise': 21014,
 'uniquely': 76009,
 'remodeled': 59786,
 'pacific': 52687,
 'bell': 11469,
 'charm': 16475,
 'sturdiness': 69502,
 'everytime': 27785,
 'coming': 18690,
 'secure': 63757,
 'single': 65628,
 'travelers': 74337,
 'fabulous': 28814,
 'needlelittle': 48841,
 'grocerydrug': 34137,
 'store': 69048,
 'today': 73214,
 'bravo': 13245,
 '1': 124,
 'double': 24667,
 'separated': 64084,
 'curtain': 21240,
 'snoring': 66579,
 'mom': 47372,
 'slept': 66092,
 'nearby': 48706,
 'past': 53455,
 'delight': 22434,
 'professional': 57055,
 'smart': 66288,
 'particularly': 53333,
 'liked': 42927,
 'guests': 34360,
 'loved': 43990,
 'mild': 46582,
 'negative': 48887,
 'uphill': 76435,
 'ppmarket': 56111,
 'restaurants': 60599,
 'poor': 55726,
 'value': 77011,
 'july': 40875,
 'priced': 56582,
 '100': 126,
 '150': 847,
 'takes': 70888,
 'beating': 10956,
 'quotient': 58105,
 'simply': 65567,
 'average': 9116,
 'paying': 53631,
 '300': 2241,
 'ca': 14546,
 'terribly': 71632,
 'wife': 79747,
 'nicest': 49305,
 '200night': 1503,
 'overpaying': 52487,
 'shop': 64885,
 'qualitywise': 57792,
 'league': 42358,
 'marriott': 45361,
 'western': 79389,
 '2007': 1443,
 'looked': 43759,
 'comparable': 18851,
 'westin': 79402,
 'pointsmiles': 55437,
 'gave': 32602,
 'pleasantly': 55132,
 'tasty': 71114,
 'especially': 27182,
 'say': 63133,
 'relatively': 59596,
 'exercise': 28185,
 'treadmill': 74427,
 'heck': 35537,
 'east': 25611,
 'coast': 18077,
 'ran': 58371,
 'days': 21775,
 'whimsical': 79610,
 'vibe': 77451,
 'fun': 32076,
 'young': 81091,
 'casual': 15620,
 'group': 34207,
 'reserved': 60244,
 'connecting': 19489,
 'fuss': 32240,
 'weekthe': 79015,
 'decent': 22047,
 'pretty': 56511,
 'bathrooms': 10535,
 'pocket': 55379,
 'ideal': 37861,
 'cheery': 16678,
 'flat': 30235,
 'panel': 52983,
 'fine': 29886,
 'walkable': 78120,
 'attractions': 8810,
 'new': 49093,
 'central': 15993,
 'library': 42765,
 'sam': 62743,
 'benaroya': 11568,
 'concert': 19184,
 'hall': 34793,
 'steep': 68742,
 '29night': 2115,
 'receptions': 58922,
 'popular': 55766,
 'rude': 62289,
 'bellhop': 11490,
 'difficult': 23296,
 'waited': 78029,
 'forever': 31023,
 'heavy': 35532,
 'bags': 9664,
 'throught': 72643,
 'worst': 80459,
 'checking': 16619,
 'tap': 70993,
 'pick': 54501,
 '20': 1376,
 'minutes': 46892,
 'noticed': 50182,
 '1000': 127,
 'dollar': 24309,
 'hold': 36431,
 'credit': 20760,
 'card': 15211,
 'phonecalls': 54411,
 'faxes': 29429,
 'week': 78930,
 'warwck': 78434,
 '4th': 3003,
 'lenora': 42602,
 'okbut': 51006,
 'al': 5933,
 'faces': 28840,
 'tiring': 73125,
 'airport': 5829,
 'touches': 73710,
 'leopard': 42622,
 'robe': 61526,
 'complaint': 18968,
 'wifi': 79764,
 'complimentary': 19056,
 'center': 15953,
 'horrible': 36788,
 'customer': 21286,
 'february': 29501,
 '3rd': 2643,
 '2007my': 1453,
 'appealing': 7473,
 'included': 38465,
 'checkout': 16637,
 'gift': 32946,
 'spa': 67206,
 'earlier': 25521,
 'man': 44871,
 'stood': 68994,
 'pull': 57520,
 'didnÃ§Ã©': 23190,
 'garment': 32501,
 'bag': 9634,
 'suitcase': 69783,
 'key': 41233,
 'number': 50369,
 'says': 63149,
 'park': 53188,
 'working': 80329,
 'gets': 32878,
 'oil': 50966,
 'lotion': 43864,
 'blood': 12419,
 'drops': 25166,
 'disgusted': 23824,
 'unbelievable': 75562,
 'sent': 64066,
 'somebody': 66856,
 'swapped': 70473,
 'apologizing': 7441,
 'sunday': 69942,
 'management': 44884,
 'aggravated': 5624,
 'apparently': 7463,
 'kind': 41378,
 'supervisor': 70172,
 'wait': 78025,
 'monday': 47412,
 'adding': 4981,
 'changed': 16310,
 'fresh': 31549,
 'tone': 73404,
 '3pm': 2641,
 '130': 678,
 'maids': 44636,
 'tried': 74558,
 'remind': 59770,
 'packed': 52707,
 'downstairs': 24816,
 'quickly': 57957,
 'signed': 65469,
 'paper': 53031,
 'closer': 17900,
 'unfortunately': 75906,
 'charged': 16409,
 'ask': 8389,
 'charges': 16429,
 'lady': 41854,
 'answered': 7090,
 'snapped': 66511,
 'aware': 9206,
 'life': 42815,
 'treated': 74444,
 'constantly': 19620,
 'lucky': 44144,
 'ones': 51289,
 'anybody': 7216,
 'anticipating': 7132,
 'based': 10377,
 'seen': 63817,
 'tripadvisor': 74609,
 'disppointment': 23950,
 'envisioned': 26982,
 'impressive': 38306,
 'extremely': 28728,
 'polite': 55508,
 'bellmen': 11505,
 'easily': 25597,
 'overlooked': 52451,
 'mirror': 46987,
 'sagging': 62601,
 'post': 55947,
 'jiggly': 40577,
 'entrance': 26914,
 'handle': 34920,
 'nearly': 48744,
 'falling': 29024,
 'flight': 30335,
 'midweek': 46533,
 'suggested': 69755,
 'ride': 61193,
 'cost': 20252,
 'private': 56812,
 'flatrate': 30244,
 'case': 15534,
 'knew': 41529,
 '30': 2240,
 '38': 2558,
 'insisted': 39124,
 '65': 3463,
 'explained': 28543,
 'kick': 41277,
 'referrals': 59259,
 'andor': 6875,
 'looking': 43766,
 'interests': 39313,
 'years': 80861,
 'planned': 54948,
 'year': 80838,
 'dinner': 23418,
 'holiday': 36455,
 'response': 60491,
 'luck': 44130,
 'finding': 29874,
 'thanks': 71747,
 'centre': 16020,
 'completely': 19016,
 'semifuncitional': 63980,
 'outsourced': 52222,
 'ended': 26517,
 'spending': 67565,
 '50': 3024,
 'money': 47427,
 'refund': 59354,
 '25': 1876,
 'vacation': 76871,
 'troubleshooting': 74789,
 'toll': 73375,
 'line': 43029,
 'times': 72919,
 'assistance': 8476,
 'shrug': 65230,
 'majority': 44740,
 'attitude': 8785,
 'care': 15243,
 'dared': 21541,
 'intrude': 39506,
 'snotty': 66610,
 'occasions': 50600,
 'caught': 15755,
 'girls': 33034,
 'smirking': 66378,
 'turned': 75075,
 'frustrating': 31963,
 'honesty': 36643,
 'end': 26510,
 'dash': 21597,
 'greet': 34027,
 'ignored': 37940,
 'unless': 76056,
 'approached': 7632,
 'saw': 63116,
 'smiling': 66366,
 'fantastic': 29171,
 'holds': 36442,
 'standards': 68248,
 'cities': 17315,
 'attentive': 8751,
 'prompt': 57192,
 'loyalty': 44094,
 'program': 57108,
 'upgraded': 76410,
 '10th': 344,
 'public': 57457,
 'kittycorner': 41497,
 'highly': 36088,
 'tour': 73766,
 'blown': 12457,
 'spacious': 67241,
 'flatscreen': 30246,
 'television': 71409,
 'dvdcd': 25424,
 'player': 55054,
 'means': 45785,
 'adequate': 5028,
 'outstanding': 52227,
 'eliptical': 26165,
 'cardio': 15221,
 'machines': 44448,
 'stationary': 68476,
 'bikes': 12017,
 'personal': 54180,
 'viewing': 77559,
 'screens': 63452,
 'machine': 44443,
 'dvd': 25422,
 'particular': 53329,
 'stylish': 69536,
 'quirky': 58071,
 'inviting': 39569,
 'imagine': 38061,
 'relaxing': 59618,
 ...}

In [124]:
# Create a TDM

In [125]:
tdm = bow_transformer.transform(ta.X)

In [126]:
tdm.shape

(20491, 81408)

In [127]:
# tdm will act as our X  - using tdm we will build the model

#### Sampling stage:--

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
train_X  , test_X , train_Y  , test_Y = train_test_split(tdm , ta.Y , test_size = .2)

#### model building stage:--

In [130]:
# NAIVE BAYES

In [131]:
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
nb.fit(train_X , train_Y)

MultinomialNB()

In [132]:
pred = nb.predict(test_X)

In [133]:
from sklearn.metrics import confusion_matrix , classification_report

In [134]:
tab = confusion_matrix(test_Y , pred)
tab

array([[ 749,  358],
       [ 118, 2874]], dtype=int64)

In [136]:
tab_cf = pd.DataFrame(tab)
tab_cf.columns = [1 ,2]
tab_cf.index = [ 1 ,2]
tab_cf

     1     2
1  749   358
2  118  2874

In [137]:
print(classification_report(test_Y , pred))

              precision    recall  f1-score   support

           1       0.86      0.68      0.76      1107
           2       0.89      0.96      0.92      2992

    accuracy                           0.88      4099
   macro avg       0.88      0.82      0.84      4099
weighted avg       0.88      0.88      0.88      4099

In [94]:
# DECISION TREE

In [138]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(class_weight='balanced')
dt.fit(train_X , train_Y)

DecisionTreeClassifier(class_weight='balanced')

In [139]:
pred_test_rf = dt.predict(test_X)

In [140]:
tab = confusion_matrix(test_Y , pred_test_rf)
tab

array([[ 677,  430],
       [ 497, 2495]], dtype=int64)

In [141]:
tab_cf = pd.DataFrame(tab)
tab_cf.columns = [1 ,2]
tab_cf.index = [ 1 ,2]
tab_cf

     1     2
1  677   430
2  497  2495

In [142]:
print(classification_report(test_Y , pred_test_rf))

              precision    recall  f1-score   support

           1       0.58      0.61      0.59      1107
           2       0.85      0.83      0.84      2992

    accuracy                           0.77      4099
   macro avg       0.71      0.72      0.72      4099
weighted avg       0.78      0.77      0.78      4099

In [143]:
# LOGISTIC Regression :--

In [144]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_X , train_Y);
lr

C:\Users\HARSH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [145]:
pred_test = lr.predict(test_X)
pred_test

array([2, 2, 2, ..., 2, 1, 2], dtype=int64)

In [146]:
from sklearn.metrics import *

In [104]:
tab = confusion_matrix(test_Y , pred_test_rf)
tab

array([[ 355,   73,  196],
       [ 101,   74,  268],
       [ 218,  192, 2622]], dtype=int64)

In [147]:
tab_cf = pd.DataFrame(tab)
tab_cf.columns = [1 ,2]
tab_cf.index = [ 1 ,2]
tab_cf

     1     2
1  677   430
2  497  2495

In [148]:
print(classification_report(test_Y , pred_test_rf))

              precision    recall  f1-score   support

           1       0.58      0.61      0.59      1107
           2       0.85      0.83      0.84      2992

    accuracy                           0.77      4099
   macro avg       0.71      0.72      0.72      4099
weighted avg       0.78      0.77      0.78      4099

In [107]:
# RANDOM FOREST

In [162]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=50 , class_weight='balanced', criterion='gini' , max_depth=7,min_samples_split= 29)
rfc.fit(train_X , train_Y)
pred_rfc = rfc.predict(test_X)
tab_rfc = confusion_matrix(test_Y , pred_rfc)
tab_rfc

array([[ 828,  279],
       [ 450, 2542]], dtype=int64)

In [156]:
#from sklearn.model_selection import GridSearchCV

In [157]:
# search_dict = {'criterion':['gini','entropy'] , 
#                'max_depth':range(5,10) , 
#                 'min_samples_split':range(25,30)}

In [158]:
# grid = GridSearchCV(dt , param_grid=search_dict)

In [160]:
# grid.fit(train_X , train_Y)

GridSearchCV(estimator=DecisionTreeClassifier(class_weight='balanced'),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(5, 10),
                         'min_samples_split': range(25, 30)})

In [161]:
# grid.best_params_

{'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 29}

In [ ]:
# now we use above hyperparameter values to build Decision Tree.

In [151]:
tab_cf = pd.DataFrame(tab_rfc)
tab_cf.columns = [1 ,2]
tab_cf.index = [ 1 ,2]
tab_cf

     1     2
1  461   646
2   26  2966

In [152]:
print(classification_report(test_Y , pred_rfc))

              precision    recall  f1-score   support

           1       0.95      0.42      0.58      1107
           2       0.82      0.99      0.90      2992

    accuracy                           0.84      4099
   macro avg       0.88      0.70      0.74      4099
weighted avg       0.86      0.84      0.81      4099

In [153]:
# SVM

In [154]:
from sklearn.svm import SVC
svc_al = SVC()
svc_al.fit(train_X , train_Y)

SVC()

In [163]:
pred_svc= svc_al.predict(test_X)

In [164]:
from sklearn.metrics import *

In [165]:
tab = confusion_matrix(test_Y , pred)
tab

array([[ 749,  358],
       [ 118, 2874]], dtype=int64)

In [166]:
tab_cf = pd.DataFrame(tab)
tab_cf.columns = [1 ,2]
tab_cf.index = [ 1 ,2]
tab_cf

     1     2
1  749   358
2  118  2874

In [167]:
print(classification_report(test_Y , pred))

              precision    recall  f1-score   support

           1       0.86      0.68      0.76      1107
           2       0.89      0.96      0.92      2992

    accuracy                           0.88      4099
   macro avg       0.88      0.82      0.84      4099
weighted avg       0.88      0.88      0.88      4099